html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-intro);
    font-size: 1.4rem;
    color: var(--color-font-global);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-areas: "header" 
                         "hero"
                         "features"
                         "team"
                         "footer";
}

/* Header */

.header {
    display: grid;
    grid-area: header;
    font-family: 'Raleway', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
}

.header-container nav ul {
    display: flex;
}

.header-container nav ul li {
    margin-right: 5rem;
}

.header-container nav ul li a {
    transition: 0.3s;
    color: var(--color-font-menu);
}

.header-container nav ul li a:hover {
    color: var(--color-font-global);
    text-decoration: underline;
}

@media(max-width: 425px) {
    .header {
        background-color: var(--background-intro);
    }

    .header-container img {
        width: 10rem;
    }
    
    .header-container nav ul li {
        margin-right: 2rem;
    }
}

/* Hero */

.hero {
    display: grid;
    grid-area: hero;
    max-width: 100%;
    font-family: 'Raleway';
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/bg-curvy-desktop.svg") no-repeat;
    background-position: bottom;
    max-width: 100%;
}

.hero-container img {
    width: 70%;
}

.hero-container h2 {
    font-size: 4rem;
    width: 70%;
    text-align: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.hero-container p {
    width: 46%;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 3rem;
}

.hero-container a {
    margin-top: 2rem;
    padding: 1rem 7rem;
    border-radius: 2rem;
    background-color: var(--color-button);
    transition: 0.3s;
    z-index: 1;
}

.hero-container a:hover {
    background-color: var(--color-button-active);
}

@media(max-width: 425px) {
    .hero-container {
        background: url("../img/bg-curvy-mobile.svg") no-repeat;
        background-position: center;
        margin-bottom: 5rem;
    }

    .hero-container h2 {
        font-size: 3.5rem;
    }

    .hero-container p {
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .hero-container a {
        padding: 1rem 7rem;
        margin-top: 3rem;
    }
}

/* Features */

.features {
    display: grid;
    grid-area: features;
    background-color: var(--background-main);
    max-width: 100%;
}

.features-container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10rem;
}

.features-items {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem 5rem 5rem;
    text-align: center;
}

.features-items h3 {
    margin-top: 2rem;
}

.features-items p {
    margin-top: 1rem;
}

@media(max-width: 425px) {
    .features-container {
       flex-direction: column;
       align-items: center;
    }
}

/* Team */

.team {
    display: grid;
    grid-area: team;
    background-color: var(--background-main);
    position: relative;
    display: flex;
    flex-direction: column;
}

.team-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0rem auto;
}

.team-hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

.team-hero-text h2 {
    font-size: 3rem;
    font-family: 'Raleway' , sans-serif;
    margin-left: 5rem;
}

.team-hero-text p {
    width: 80%;
    margin-top: 1rem;
    margin-left: 5rem;
}

.team-hero-text span {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 5rem;
}

.team-hero-text span img {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 1rem;
}

.team-hero-text span a {
    color: var(--color-button-active);
    text-decoration: underline;
    transition: 0.3s;
}

.team-hero-text span a:hover {
    color: var(--color-font-global);
}

/* Comments */

.team-comments {
    display: flex;
    align-items: center;
    
    margin: 13rem 0 30rem 0;
    position: relative;
}

.team-comments .quotes{
    position: absolute;
}

/* .team-comments-people.quotes:before {
    content: url("../img/bg-quotes.png");
    position: absolute;
    top: -1rem;
    left: 0.8rem;  
} */

.team-comments-people {
    width: 40rem;
    background-color: var(--background-comments);
    margin: 2rem 2rem 0em 2rem;
    padding: 3rem;
    z-index: 2;
}

.team-comments-people img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.team-people-profile {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.team-profile-office {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

@media(max-width: 880px) {
    .team-hero-text {
        flex-direction: column;
    }

    .team-hero-text h2 {
       font-size: 2.5rem;
       margin-left: 3rem;
    }

    .team-hero-text p {
        margin-left: 2rem;
    }

    .team-hero-text span  {
        margin-left: 2rem;
    }

    .team-comments {
        flex-direction: column;
    }
}

/* Sign Up */

.sign-up {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-main);
    position: relative;
    width: 65%;
}

.sign-container {
    width: 100%;
    background-color: var(--background-intro);
    padding: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 5px 10px #000;
    margin-top: 25rem;
    text-align: center;
    z-index: 1;
}

.sign-container h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sign-container p {
    margin: 0 auto;
}

.sign-container .send-email {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sign-container .send-email input {
    width: 55%;
    padding: 2rem;
    border-radius: 30px;
    border: 1px solid black;
}

.sign-container .send-email a button {
    padding: 2rem;
    margin-left: 2rem;
    border-radius: 30px;
    color: var(--color-font-global);
    background-color: var(--color-button);
    border: 1px solid black;
    transition: 0.3s;
}

.sign-container .send-email a button:hover {
    background-color: var(--color-button-active);
    cursor: pointer;
}

@media(max-width: 768px){
    .sign-container h3 {
        font-size: 2rem;
    }
    .sign-container .send-email{
        flex-direction: column;
    }

    .sign-container .send-email input {
        width: 30rem;
    }

    .sign-container .send-email a button {
        width: 30rem;
        margin: 2rem auto;
    }
}

/* Footer */

.footer {
    display: grid;
    grid-area: footer;
    background-color: var(--background-footer);
    position: relative;
}

.footer-container {
    display: flex;
    margin: 20rem 0 5rem 0;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.footer-container img {
    width: 1.8rem;
    height: 1.9rem;
}

.footer-container nav ul {
    display: flex;
    flex-direction: column;
}

.footer-container nav ul li {
    margin: 1rem 3rem;
}

.footer-container ul li a {
    color: var(--color-font-menu);
    transition: 0.3s;
}

.footer-container ul li a:hover {
    color: var(--color-font-global);
}

.footer-container-items.location:before {
    content: url('../img/logo.svg');
    position: absolute;
    top: -8rem;
}

.footer-container-items {
    display: flex;
    margin: 1rem 3rem;
}

.footer-container-items p {
    margin-left: 2rem;
    width: 30rem;
}

.footer-container-items-contact {
    display: flex;
    flex-direction: column;
    width: 27rem;
}

 .footer-container-social {
     margin-right: 3rem;
 }

.footer-container-social i {
    font-size: 2rem;
    margin-top: 1rem;
}

.footer-container-social a {
    margin-left: 1rem;
    transition: 0.3s;
}

.footer-container-social a:hover {
    color: var(--color-button-active);
}

@media(max-width: 885px) {
    .footer-container {
        flex-direction: column;
        margin-top: 30rem;
    }

    .footer-container-items-contact {
        margin-bottom: 3rem;
    }

    .footer-container-social {
        margin: 0 auto;
    }

    .footer-container nav ul {
        margin-top: 3rem;
    }

}