@media (max-width: 1419px){
    .quadros img {
        width: 300px;
        height: 431px;
    }
}

@media (max-width: 425px) {
    .quadros {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 45px;
    }

    .quadro {
        margin: -1px 20px;
    }

    .descricao-quadro {
        top : 351px;
    }
}
