body {
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    background-color: var(--advice-card-color);
    color: var(--text-color);
    font-size: 28px;
    font-weight: 800;
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    position: relative;
}

#advice {
    font-size: 12px;
    color: var(--advice-dice-color);
}

.divider {
    margin-bottom: 35px;
}

.divider.mobile {
    display: none;
}

.icon {
    background-color: var(--advice-dice-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.icon:hover {
    box-shadow: 0 0 40px var(--advice-dice-color);
}



